<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="C:\Users\Lenovo\PycharmProjects\pythonDubbing\templates\assets\css\player_page_styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player | Python Dubbing</title>
</head>
<body>
    <header class="welcome_header flex">
        <h1>
            Your audiofile is ready to play!
        </h1>
    </header>
    <div class="container-md">
    <audio controls preload="auto">
        <source src="../audio/transcript.mp3" type="audio/mpeg">
    </audio>
</div>
</body>
</html>